<div class="sensor">
  <h2><%= Map.get(@sensor, :name) %></h2>
  <%= json_points(@sensor) %>

  <script>
    window.<%= Sensor.slug(@sensor) %>_data = JSON.parse(`<%= raw(json_points(@sensor)) %>`);
  </script>
</div>
