@import 'variables';
// TYPOGRAPHY
.mono {
  font-family: $mono;
}

.sans {
  font-family: $sans;
}

.serif {
  font-family: $serif;
}

.bold {
  font-weight: bold;
}

.dark-header {
  color: $primary-colour;
}

.light-header {
  color: $text-light;
}

.dark-body {
  color: $text-dark;
}

.light-body {
  color: $text-light;
}

.text-primary {
  color: $primary-colour;
}

.text-secondary {
  color: $secondary-colour;
}

.text-accent {
  color: $accent-colour;
}

.text-light {
  color: $white;
}

.text-dark {
  color: $darkgray;
}

.text-lightgray {
  color: $text-grey;
}

.text-darkgray {
  color: $text-dark;
}

.error {
  color: $red;
}

.hover-main {
  transition: $s-animation;
  &:hover {
    color: $primary-colour;
  }
}

.hover-secondary {
  transition: $s-animation;
  &:hover {
    color: $secondary-colour;
  }
}

.hover-accent {
  transition: $s-animation;
  &:hover {
    color: $accent-colour;
  }
}

.su {
  text-decoration: none;
  @include smart-underline($background-colour, $text-dark, $selection);
}

.su-colour {
  text-decoration: none;
  @include smart-underline($background-colour, $primary-colour, $selection);
}

.st {
  text-decoration: line-through;
  color: $primary-colour;
  > * {
    color: $text-dark;
  }
}

.disabled {
  cursor: text;
  opacity: 0.5;
}

// WHITE SPACE
.preserve-whitespace {
  white-space: pre;
}

.vh {
  height: 100vh;
  max-height: 100vh;
}

.hide {
  opacity: 0;
}

.hidden {
  display: none;
}

.img-center {
  display: block;
  margin: auto;
}

.mw100 {
  width: 100%;
  max-width: 100%;
}

.container {
  --gutter: 0rem;
  max-width: var(--m-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  @include max-screen($medium) {
    --gutter: 2rem;
  }
  @include max-screen($small) {
    --gutter: 1rem;
  }
}

.bleed {
  --space: calc(-1 * var(--m-width));
  margin-right: var(--space);
  margin-left: var(--space);
  @include max-screen($medium) {
    --space: -2rem;
  }
  @include max-screen($small) {
    --space: -1rem;
  }
}

.inline {
  display: inline-block;
}

.fit {
  max-width: 100%;
  max-height: 100%;
}

.fill {
  height: 100%;
}

.full {
  min-height: 100vh;
  margin: 0;
}

.bcenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.icon {
  margin-top: -10px;
  color: $text-dark;
}

.radius {
  border-radius: $bradius;
}

.vertical-wrapper {
  margin: auto;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-not-small {
    @include min-screen($xsmall) {
      display: block;
    }
  }
}

.overhidden {
  overflow: hidden;
}

.xscroll {
  overflow-x: scroll;
}

// Cursor
.pointer {
  cursor: pointer;
}

// Background
.bg-primary {
  background-color: $primary-colour;
}

.bg-secondary {
  background-color: $secondary-colour;
}

.bg-accent {
  background-color: $accent-colour;
}

.bg-lightgray {
  background-color: $lightgray;
}

.bg-darkgray {
  background-color: $darkgray;
}

// Layout
.flex {
  display: flex;
  &-ns {
    @include max-screen($small) {
      display: block;
    }
  }
}

.flex-w {
  display: flex;
  flex-wrap: wrap;
}

.sb {
  justify-content: space-between;
}

.ac {
  align-items: center;
}

.ab {
  align-items: baseline;
}

.jc {
  justify-content: center;
}

.afe {
  align-items: flex-end;
}

.col {
  flex-direction: column;
}

.fg1 {
  flex-grow: 1;
}

.fg0 {
  flex-grow: 0;
}

// Misc
@mixin text-underline-color($color) {
  -moz-text-decoration-color: $color;
  /* Code for Firefox */
  text-decoration-color: $color;
}
